<!-- principal.ejs -->
<%- include('partials/_header') %>

<div class="container mt-5">
    <h1>Bienvenido a la Aplicación</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="/especialidad" class="btn btn-primary btn-lg btn-block">Especialidades</a>
        </div>
        <div class="col-md-4">
            <a href="/medicos" class="btn btn-success btn-lg btn-block">Médicos</a>
        </div>
        <div class="col-md-4">
            <a href="/publicidad" class="btn btn-info btn-lg btn-block">Publicidad</a>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>
